/******************************** Variable Declarations **********************************************/

$HSF-primary-red: #ef3e42;
$HSF-secondary-red: #bb2233;

$HSF-dark-grey: #252528;
$HSF-light-grey: #5d646c;

$HSF-white: #ffffff;



/********************************** Navigation Styles *****************************************/
.container {
	margin-top:-8px;
}
.nav-container {
	background-color: $HSF-dark-grey;
	margin-top:0px;
	box-shadow: 0px 2px 4px 0px rgb(82, 82, 88);	
	z-index:9999;
	position:fixed;
	top:0px;
}
.nav-img-container {
	width:161px;	
	margin-left:auto;
	margin-right:auto;	
	display:block;
}
.nav-buttons {
	float:right;
	display:inline-block;
	margin-top:-44px;
	margin-right:20px;
	a {
		margin-right:15px;
	}
}


/************************************** Sidebar Styles *****************************************/
.sidebar-wrapper {
	background-color: $HSF-light-grey;
	bottom:0;
	position:fixed;
	top:70px;
	width:230px;
	box-shadow: 0px 2px 4px 0px rgb(82, 82, 88);
	display:block;	
	margin-left:-15px;
	overflow-y:auto;
	.sidebar-section {
		border-bottom:2px solid #fff;		
		margin-top:-21px;
		h2 {
			background-color:$HSF-primary-red;
			color:#fff;
			text-transform:uppercase;
			padding:10px;
			font-weight:400;				
		}		
		a {
			color:#fff;
			font-weight:400;
			font-size:20px;
			display:block;
			padding-left:20px;
			padding-top:8px;
			padding-bottom:8px;			
			&:hover {
				text-decoration:none;
				background-color:$HSF-primary-red;				
			}			
		}		
	}
	.sidebar-logo {
		display:block;
		margin-top:20px;
		img {
			margin-left:auto;
			margin-right:auto;
			display:block;
			max-width:100%;
			height:auto;
		}
	}
}
.mobile-options {
	border-bottom:2px solid #fff;		
	display:none;
	a {
		background-color:$HSF-primary-red;
		color:#fff;
		text-transform:uppercase;
		padding:10px;
		font-weight:400;
		display:block;	
		text-decoration:none;
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
		padding-left:20px;
	}
}



/***************** Navigation Media Querries ***************************************/

@media only screen and (max-width:950px){
	.sidebar-wrapper {
		top:70px;
		z-index:9999;
		margin-left:0px;
		display:none;
	}
}


@media only screen and (max-width:600px){	
	.btn-nav {
		padding:2px 10px !important;
	}
	.nav-buttons > a {
		margin-right:10px;
	}
}

@media only screen and (max-width:550px){	
	.mobile-options {
		display:block;
	}
	.nav-buttons {
		display:none;
	}	
}