/****************************************************** Ticketing Form Overrides ************************************/
/*******************************************************************************************************************/
p {
 text-align:center;
}

#lo-CalendarDateInfoContainer {
 width:100% !important;
 text-align:center; 
} 

#lo-CalendarStartDateLabel,
#lo-time_field,
#lo-location_label {
 width:100% !important;
 float:none !important;
}

#lo-UserDetailInfoOtherInfo {
  display:none;
}

#buytickets {
  background-color: rgb(221,34,17);
  color: #fff;
  background-image: none;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 8px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none
}

#buytickets:hover,
#buytickets:active,
#buytickets:visited {
  border: 1px solid transparent;
}

#lo-UserDetail {
 text-align:center;
}


