/****************************************************** Ticketing Text Overrides ************************************/
/*******************************************************************************************************************/
p, h3, h2 {
 text-align:center;
 line-height:1.5;
}

h3 {
 margin-bottom:-10px;
}

span, table, div {
 font-family: 'Roboto',Arial,sans-serif;
 color: #666;
 word-wrap: break-word;
 font-size: 16px;
 font-weight: 400;
}

#lo-EventTitle {
 text-align:center;
}

#lo-CalendarDateInfoContainer {
 width:100% !important;
 text-align:center; 
} 

#lo-CalendarStartDateLabel,
#lo-time_field,
#lo-location_label {
 width:100% !important;
 float:none !important;
 height:auto !important;
 color:#666;
 font-size:16px;
}

#lo-CalendarStartDateValue,
#lo-start_time,
#lo-CalendarAddressValue {
  margin-bottom:10px;
  color:#666;
  font-size:16px;
}

#lo-UserDetailInfoOtherInfo {
  display:none;
}

#buytickets {
  background-color: rgb(221,34,17);
  color: #fff;
  background-image: none;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 8px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  text-transform:uppercase;
}

#buytickets:hover,
#buytickets:active,
#buytickets:visited {
  border: 1px solid transparent;
}

#lo-UserDetailContainer {
 margin-bottom:20px;
}

#lo-UserDetail {
 text-align:center;
}

#lo-UserDetailEventDescription {
  background-color:#eee;
  padding-top:20px;
 /* padding-bottom:20px;*/
  padding-left:15px;
  padding-right:15px;
}

/****************************************************** Ticketing Form Overrides ************************************/
/*******************************************************************************************************************/

#lo-attendeeContainer,
#lo-EventBorderContainer {
 border:none;
 padding:0px;
 color:#666;
}

.label {
  font-weight:bold;
  margin-right:10px;
}

.label,
.value {
  float:left;
}

.value {
 width:100%;
}

.field-row {
  width:46%;
  float:left;
  margin-bottom:20px;
}

.value > input { 
  padding-top:8px;
  padding-bottom:8px;
  width:90%;
  border-radius:6px;
}

#home_stateprov,
#home_country {
 padding-top:8px;
 padding-bottom:8px;
 border-radius:6px;
}

.hidden-field-label {
 margin-bottom:20px;
}

.cons-reg-value-checkbox {
  float:left;
  margin-right:10px;
}

.field-row-custom_boolean3-default_unchecked {
  margin-top:20px;
}

.field-row-custom_boolean4-default_unchecked {
 clear:both;
}


/********************************************* Ticketing Purchase Table Overrides ************************************/
/*********************************************************************************************************************/

#lo-ticket_class_list_user > tbody > tr > th:nth-child(3),
#lo-ticket_class_list_user > tbody > tr > th:nth-child(4),
#lo-ticket_class_list_user > tbody > tr > td:nth-child(3),
#lo-ticket_class_list_user > tbody > tr > td:nth-child(4) {
   display:none;
}

.lo-EventBorderContainer {
 border:none !important;
}

.responsive {
  width:100% !important;
}

.input-label {
 word-wrap:break-word;
}

.ungrouped > select {
  padding-top:5px;
  padding-bottom:5px;
  border-radius:6px;
}

.lo-EventSubHeaderBar {
  margin-bottom:20px;
}

.lc_Heading {
  border-top:none !important;
}

#lo-EventButtonContainer > .Button {
  background-image: none;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 8px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
}

#lo-EventButtonContainer > .Button:first-child {
  background-color:#5d646c;
  color:#fff;
}

#lo-EventButtonContainer > .Button:nth-child(2),
#lo-EventButtonContainer > .Button:last-child {
  background-color:rgb(221,34,17);
  color:#fff;
}

/********************************************* Ticketing Billing Table Overrides *************************************/
/*********************************************************************************************************************/

#billing-info-container {
 border:none !important;
}

#billing-info-table > tbody > tr > td:first-child {
 width:100% !important;
 display:block;
}

#billing-info-table > tbody > tr > td:nth-child(2) {
 display:none;
}

#billing-info-table > tbody > tr > td:last-child {
 width:100% !important;
 display:block;
}

#billing-info-table > tbody > tr > td:first-child > table > tbody > tr:first-child  {
 float:none;
 width:100%;
}

#billing-info-table > tbody > tr > td:first-child > table > tbody > tr  {
 float:left;
 width:46%;
}

#billing-info-table > tbody > tr > td:first-child > table > tbody > tr >td { 
 width:100%;
}

#billing-info-table > tbody > tr > td:first-child > table > tbody > tr >td:first-child,
#billing-info-table > tbody > tr > td:first-child > table > tbody > tr >td:nth-child(2) {
 float:left;
}

#billing-info-table > tbody > tr > td:first-child > table > tbody > tr >td:last-child {
 clear:both;
}

#billing-info-table > tbody > tr > td:first-child > table > tbody > tr > td > select,
#billing-info-table > tbody > tr > td:first-child > table > tbody > tr > td > input {
 padding-top:8px;
 padding-bottom:8px; 
 width:90%;
 border-radius:6px;
 border:1px solid #666;
}

.unfloated {
 clear:both; 
}

#billing-info-table >tbody > tr > td > table > tbody > tr > .unfloated {
 padding-top:30px;
}





